Source: xf-indicator
Section: python
Priority: extra
Build-Depends: debhelper (>= 8),
 python (>= 2.6.6-3~),
 python-distutils-extra (>= 2.10)
Maintainer: Frederic Branczyk <fbranczyk@gmail.com>
Standards-Version: 3.9.3
X-Python-Version: >= 2.6

Package: xf-indicator
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 python-yaml,
 gir1.2-gtk-3.0,
 python-requests,
 gir1.2-glib-2.0,
 python-jenkinsapi,
 gir1.2-appindicator3-0.1
Description: Monitor your CI builds with a simple indicator
 UNKNOWN
